header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f4f4f4;
}

header img {
  height: 600px;
}

.search-box input {
  padding: 8px;
  font-size: 16px;
  width: 200px;
}


