body {
    background-color: #fbeee6; /* Soft pastel background */
}

header img {
    width: 100%;
    height: auto;
    display: block;
}
.search-box input {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #f8f3f3;
    font-family: 'Poppins', sans-serif;
}

.search-box button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
}
